.sidebar {
  padding: 0 $global-spacing  $global-spacing;
  background-color: $white;
  font-size: .9em;
  ul { list-style-type: none; }
  &__section {
    &__item {
      margin-top: 15px;
      &:first-child { margin-top: 0; }
    }
    .link {
      display: block;
      text-transform: uppercase;
      &__title { color: $brand-secondary; }
      &__description {
        margin-top: 10px;
        color: $gray-60; text-transform: none;
      }
      &__img { margin-top: 1em; }
      &:hover {
        text-decoration: none;
        .link__title {
          text-decoration: underline;
        }
      }
    }
    &__title {
      margin: 1em 0 .6em;
      font-weight: 600;
    }
    &:first-child &__title {
      transform: translateY(-.6em);
      margin-bottom: -.1em; margin-top: 0;
    }
  }
}