.sidebar {
  padding: 0 $global-spacing  $global-spacing;
  background-color: $white;
  font-size: .9em;
  ul { list-style-type: none; }
  &__section {
    &__item {
      margin-top: 15px;
      &:first-child { margin-top: 0; }
    }
    &__link {
      text-transform: uppercase;
    }
    &__description {
      margin-top: 10px;
      p, strong, em {
        color: $gray-60; font-weight: normal!important;
      }
    }
    &:first-child &__title {
      transform: translateY(-.4em);
      margin-bottom: -.1em; margin-top: 0;
    }
  }
}