.sidebar {
  @include tile-shadow();
  padding: 0 $global-spacing / 2 $global-spacing / 2; margin-top: $global-spacing * 2;
  background-color: $white;
  font-size: .9em;
  ul { list-style-type: none; }
  &__section {
    &__item {
      margin-top: 15px;
      &:first-child { margin-top: 0; }
    }
    &__thumbnail {
      margin-bottom: 15px;
    }
    .link {
      display: block;
      text-transform: uppercase;
      &__title { color: $brand-secondary; font-size: 1.1em; line-height: 1.6; }
      &__description {
        color: $gray-60; text-transform: none;
      }
      &:hover {
        text-decoration: none;
        .link__title {
          text-decoration: underline;
        }
      }
    }
    &__title {
      margin: 1em 0 .6em;
      font-weight: 600;
    }
    &:first-child &__title {
      transform: translateY(-.6em);
      margin-bottom: 0; margin-top: 0;
    }
  }
  @include respond-to(medium) {
    margin-top: 0; padding: $global-spacing;
  }
}