{{ partial "head.html" . }}
{{ partial "organism/header.html" . }}

<section class="single flex flex-wrap align-items-start">
  <div class="flex-12 flex-med-9">
    <article class="single__content markdown">
      {{ partial "organism/share.html" . }}
      {{ partial "organism/single-header.html" . }}
      {{if .Params.thumbnail}}
      {{partial "molecules/img.html" (dict "src" .Params.Thumbnail "alt" .Title)}}
      {{end}}
      {{ .Content }}
      <footer class="single__content__footer">
        <strong>Tags&nbsp;:</strong>
        <ul>
          {{range .Params.tags}}<li>{{.}}</li>{{end}}
        </ul>
      </footer>
    </article>
    {{partial "organism/related.html" . }}
    {{partial "organism/comment.html" . }}
  </div>
  <aside class="flex-12 flex-med-3">
    {{ partial "organism/sidebar.html" . }}
  </aside>
</section>

<script async defer src="https://assets.pinterest.com/js/pinit.js"
        data-pin-build="parsePinBtns"></script>
{{ partial "organism/footer.html" . }}
