</div>

<footer class="footer">
  <div class="container">
    <section class="flex flex-wrap">
      <article class="flex-6 flex-med-3">
        <ul>
          {{ range .Site.Menus.footer }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </article>
      <article class="flex-6 flex-med-3">
        <h1>Divers</h1>
        <ul>
          {{ range .Site.Menus.divers }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
          <li>
            <a href="mailto:contact@crokmou.com">Contact</a>
          </li>
        </ul>
      </article>
      <article class="flex-12 flex-med-6">
        <h1>Newsletter</h1>
        <div class="footer__newsletter">
          <!-- Begin MailChimp Signup Form -->
          <form
            action="https://crokmou.us3.list-manage.com/subscribe/post?u=391f3c167634b4ded03dcf45e&amp;id=7138445d80"
            method="post" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div class="flex">
              <div class="mc-field-group input flex-8">
                <label class="input__label input__label--hide">
                  <input type="email" placeholder="Email" value="" name="EMAIL"
                         class="required email"/>
                  <span>Email</span>
                </label>
              </div>
              <div class="flex-4">
                <input class="button button--dark" type="submit" value="Souscrire"
                       name="subscribe">
              </div>
              <div style="position: absolute; left: -5000px;"
                   aria-hidden="true">
                <input type="text" name="b_391f3c167634b4ded03dcf45e_7138445d80"
                       tabindex="-1" value="">
              </div>
            </div>
          </form>
          <!--End mc_embed_signup-->
        </div>
      </article>
    </section>
  </div>
</footer>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe.
     It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
    <!-- Container that holds slides.
      PhotoSwipe keeps only 3 of them in the DOM to save memory.
      Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <!--  Controls are self-explanatory. Order can be changed. -->
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close"
                title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title="Share"></button>
        <button class="pswp__button pswp__button--fs"
                title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom"
                title="Zoom in/out"></button>
        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left"
              title="Previous (arrow left)">
      </button>
      <button class="pswp__button pswp__button--arrow--right"
              title="Next (arrow right)">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
<script defer src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js"></script>
<script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script defer src='{{"/assets/app.js" | relURL }}?v=5'></script>
<script defer src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script src='{{"/service-worker.js" | relURL }}'></script>
<script type="text/template" id="global-search">
  <div class="global-search">
    <div class="aa-dataset-d1"></div>
  </div>
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js     = d.createElement(s);
  js.id  = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=553644794978102';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- ASYNC css -->
<script type="text/javascript">
  injectCss(
      'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css',
      'screen, projection');
  injectCss(
      'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css',
      'screen, projection');
  injectCss(
      'https://fonts.googleapis.com/css?family=Oswald:300|Roboto:300,400,500');
  injectCss('{{ "/assets/print.css" | relURL }}?v=1', 'print');

  function injectCss(href, media) {
    var element  = document.createElement('link');
    element.rel  = 'stylesheet';
    element.href = href;
    if (media) {
      element.setAttribute('media', media);
    }
    element.type = 'text/css';
    var godefer  = document.getElementsByTagName('link')[0];
    godefer.parentNode.insertBefore(element, godefer);
  }
</script>
</body>
</html>