<header class="header" rel="header">
  <div class="container flex flex-wrap flex-med-nowrap align-items-center">
    <section class="flex-12 flex-med-3">
      <a class="header__logo" href="/" rel="logo{{with .Page.Params}} xhr{{end}}">
        <picture class="picture picture--no-background" style="padding-bottom: 42.53%;">
            <source class="picture__item" srcset="/assets/images/jpg/logo.webp" type="image/webp">
            <source class="picture__item" srcset="/assets/images/jpg/logo.png" type="image/jpeg">
          	<img class="picture__item" src="/assets/images/jpg/logo.png" alt="Crokmou">
        </picture>
      </a>
    </section>
    <section class="header__ss-nav flex-12 flex-med-9 flex-lg-auto">
      <section class="header__ss flex flex-12 flex-wrap flex-med-nowrap align-items-center">
        <div class="header__ss__search flex-12 flex-med-shrink">
          <div class="input input--search">
            <input id="search-input" type="text" placeholder="Rechercher">
            <label class="input__label input__label--hide" for="search-input">Rechercher</label>
            <svg class="icon s-icon"><use xlink:href="#icon-algolia"></use></svg>
          </div>
        </div>
        <nav class="header__ss__social">
          <ul class="flex align-items-center list--inline">
            {{ range .Site.Params.socials }}
            <li class="flex justify-center align-items-center">
              {{$id := index . "id"}}
              {{$href := index . "href"}}
              <a href="{{$href}}" target="_blank" rel="noopener">
                <svg class="s-icon"><use xlink:href="#icon-{{$id}}"></use></svg>
                <span>{{$id}}</span>
              </a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </section>
      <nav class="header__nav flex-12" rel="nav">
        <ul class="flex align-items-center">
          {{ $currentPage := . }}
          {{ range .Site.Menus.header }}
          <li>
            <a data-navigo class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq (lower $currentPage.Section) (lower .Name)) }}active{{end}}'
               rel="xhr" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li>
            <a href="mailto:contact@crokmou.com">Contact</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</header>
