<section class="highlight flex flex-wrap">
  {{$pages := .Site.Pages}}
  {{ range .Site.Params.highlight }}
  <article class="highlight__item flex-12 flex-med-4">
    {{range (where $pages "Slug" "eq" .)}}
    <a class="link" href="{{.Permalink}}" rel="xhr">
      {{ partial "molecules/picture.html" (dict "src" .Params.Thumbnail "alt" .Params.Title) }}
      <main class="link__overlay">
        <ul class="link__overlay__categories">
          {{range .Params.Categories}}<li>{{.}}</li>{{end}}
        </ul>
        <h1 class="link__overlay__title">{{.Title}}</h1>
      </main>
    </a>
    {{end}}
  </article>
  {{ end }}
</section>