<section class="newsletter">
  <div class="flex flex-wrap align-items-center">
    <header class="flex-12 flex-med-5">
      <h1>Ne manquez plus un seul article</h1>
      <p>Abonnez-vous à la newsletter dès maintenant !</p>
    </header>
    <main class="flex-12 flex-med-7">
      <!-- Begin MailChimp Signup Form -->
      <form
        action="https://crokmou.us3.list-manage.com/subscribe/post?u=391f3c167634b4ded03dcf45e&amp;id=7138445d80"
        method="post" name="newsletter-block"
        class="validate" target="_blank" novalidate>
        <div class="flex">
          <div class="mc-field-group input flex-8">
            <label class="input__label input__label--hide">
              <input type="email" placeholder="Email" value="" name="EMAIL"
                     class="required email"/>
              <span>Email</span>
            </label>
          </div>
          <div class="flex-4">
            <input class="button button--wide button--dark" type="submit" value="Souscrire"
                   name="subscribe">
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_391f3c167634b4ded03dcf45e_7138445d80"
                   tabindex="-1" value="">
          </div>
        </div>
      </form>
      <!--End mc_embed_signup-->
    </main>
  </div>
</section>