<aside class="sidebar flex-12 flex-med-3">
  <section class="breve">
    <h1 class="title">Brèves</h1>
    <a href="/">
      <article>
        <h5>Feta marinée à l'huile d'olive</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur</p>
      </article>
    </a>
  </section>
  <section class="theme">
    <h1>Thème: un peu de soleil</h1>
    <a href="/">
      <article>
        <h5>Feta marinée à l'huile d'olive</h5>
        <picture class="picture" style="padding-bottom: 30%;">
        	<img class="picture__item" src="">
        </picture>
      </article>
    </a>
  </section>
</aside>