<section class="sidebar">
  {{ $pages := .Site.Pages }}
  {{ range .Site.Params.sidebar }}
  {{$id := index . "id"}}
  {{$title := index . "title"}}
  {{$articles := index . "articles"}}
  <article class="sidebar__section sidebar__section--{{$id}}">
    <h2 class="sidebar__section__title" data-stroke="{{$title}}">{{$title}}</h2>
    {{ with index . "thumbnail" }}
      <div class="sidebar__section__thumbnail">
        {{$thumbnail := replaceRE "([^/]+$)" "p750x450/$1" .}}
        {{ partial "molecules/picture.html" (dict "src" $thumbnail "alt" $title "pb" "40%") }}
      </div>
    {{end}}
    {{if eq $id "breve" }}
    <ul>
      {{ range first 3 (where (where $pages "Section" "eq" "blog") "Title" "!=" "") }}
      {{ $description := .Summary }}
      {{with .Description }}{{ $description := . }}{{end}}
      {{ $description := $description | truncate 100 }}
      <li class="sidebar__section__item">
        <a class="link"
           rel="xhr"
           href="{{.Permalink}}">
          <h3 class="link__title">{{.Title}}</h3>
          <div class="link__description">{{$description}}</div>
        </a>
      </li>
      {{ end }}
    </ul>
    {{else}}
    <ul>
      {{ range $articles }}
      <li class="sidebar__section__item">
        {{range (where $pages "Slug" "eq" .)}}
          <a class="link" href="{{.Permalink}}" rel="xhr">
            <h3 class="link__title">{{.Title}}</h3>
            <div class="link__img">
              {{$thumbnail := replaceRE "([^/]+$)" "p750x450/$1" .Params.Thumbnail}}
              {{ partial "molecules/picture.html" (dict "src" $thumbnail "alt" .Title "pb" "30%") }}
            </div>
          </a>
        {{end}}
      </li>
      {{ end }}
    </ul>
    {{end}}
  </article>
  {{ end }}
</section>
