.input {
  $padding: .4em;
  position: relative;
  input {
    display: inline-block;
    width: 100%; padding: $padding;
    background-color: $white; border: 1px solid $gray-60; border-radius: 5px; box-shadow: none;
    outline:none; text-align: left; line-height: 1.4rem; font-family: $oswald;
    appearance: none;
    &:focus { outline: none; }
    &::-webkit-input-placeholder { color: $gray-60; }
    &:-moz-placeholder { color: $gray-60; }
    &::-moz-placeholder { color: $gray-60; }
    &:-ms-input-placeholder { color: $gray-60; opacity: 0.5; }
    &:focus {
      border-color: $brand-primary-darker; background-color: $white;
      color: $gray-15;
    }
  }
  &__label {
    &--hide {
      span, &[for] {
        position: absolute; left: 0;
        width: 1px; height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }
  }
  &--error {
    input {
      border-color: $brand-danger;
      color: $brand-danger !important;
      &::-webkit-input-placeholder { color: $brand-danger; }
      &:-moz-placeholder { color: $brand-danger; }
      &::-moz-placeholder { color: $brand-danger; }
      &:-ms-input-placeholder { color: $brand-danger; opacity: 0.5; }
    }
  }
  &--search {
    input {
      display: block;
      padding-right: 2em;
    }
    > .s-icon,
    > a {
      display: inline-block;
      position: absolute; top: 50%; right: .5em;
      transform: translateY(-50%);
      color: inherit;
      -webkit-appearance: none;
    }
  }
}