$fontSize: 1em;
$goldenRatio: 1.333;
body {
  font-family: $roboto; font-weight: 300; color: #333333; line-height: 1.45; font-size: 18px;
}
a {
  color: $brand-secondary; text-decoration: none;
  &:hover, &:focus { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 {
  margin: #{$goldenRatio}em 0 0.5em;
  font-family: $oswald; font-weight: inherit; line-height: 1.2; text-transform: inherit;
}

@for $i from 1 through 6 {
  h#{$i} {
    @if (6 - $i) > 2 {
      font-size: $fontSize * pow($goldenRatio, 4 - $i);
    } @else {
      font-size: $fontSize * (1 / pow($goldenRatio, 6 - $i));
    }
  }
}
h1,
h5 { text-transform: uppercase; }

p {
  color: $gray-45;
}
