{{ partial "head.html" . }}
{{ partial "organism/header.html" . }}
<div class="home">
  <div class="page">
    <div class="page__container container">
      <div class="home flex flex-wrap align-items-start">
        <section class="home__content flex-12 flex-med-9">
          <div class="flex flex-wrap">
            {{range first 10 (where (where .Site.Pages "Section" "eq" "recettes") "Type" "eq" "post")}}
            {{ partial "molecules/card.html" (dict "card" . "class" "flex flex-column flex-12 flex-med-6")}}
            {{ end }}
          </div>
        </section>
        <aside class="sidebar flex-12 flex-med-3">
        </aside>
      </div>
    </div>
  </div>
</div>
{{ partial "organism/footer.html" . }}