{{ partial "head.html" . }}
{{ partial "organism/header.html" . }}

<section class="single flex flex-wrap align-items-start">
  <div class="flex-12 flex-med-9">
    <article class="single__content markdown">
      {{with .Title}}<h1>{{.}}</h1>{{end}}
      {{if .Params.thumbnail}}
      <div class="gallery gallery--no-grid" itemscope
           itemtype="http://schema.org/ImageGallery">
        <figure itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
          <a href="{{.Params.thumbnail}}" itemprop="contentUrl">
            <img src="{{.Params.thumbnail}}" itemprop="thumbnail" alt="{{.Title}}"/>
          </a>
        </figure>
      </div>
      {{end}}
      {{ .Content }}
    </article>
  </div>
  <aside class="flex-12 flex-med-3">
    {{ partial "organism/sidebar.html" . }}
  </aside>
</section>

{{ partial "organism/footer.html" . }}
