{{$class := index . "class"}}
{{$card := index . "card"}}
{{$hideDescription := index . "hideDescription"}}

{{$description := $card.Description }}
{{$breadcrumb := index $card.Params "breadcrumb"}}
{{$categories := index $card.Params "categories"}}
{{$cardId := index $card.Params "cardId"}}

<article class="card{{ with $class }} {{ . }}{{ end }}" rel="js-card">
  {{ $description := $card.Content | safeHTML }}
  {{with $card.Description }}
    {{ $description := $card.Description }}
  {{end}}
  {{ $description := $description | safeHTML | truncate 200 }}

  <a class="card__thumbnail" href="{{$card.Permalink}}">
    {{$thumbnail := index $card.Params "thumbnail"}}
    {{ partial "molecules/picture.html" (dict "src" $thumbnail "alt" $card.Title "pb" "60%") }}
  </a>
  <div class="card__content">
    {{ if $breadcrumb }}
    {{ range $breadcrumb }}
    <a class="card__tag" href="/tag/{{.}}">{{.}}</a>
    {{ end }}
    {{ else }}
    <a class="card__tag" href="/category/{{index $categories 0}}">{{index $categories 0}}</a>
    {{ end }}
    <h2 class="card__title"><a href="{{$card.Permalink}}">{{$card.Title}}</a></h2>
    {{if $hideDescription}}{{else}}<p>{{ $description }}</p>{{end}}
  </div>
  <footer class="card__footer">
    <div class="card__footer__comment">
      <div class="flex align-items-center justify-start">
        <svg class="s-icon"><use xlink:href="#gplus"></use></svg>
        <a href="{{$card.Permalink}}?go-down=true" rel="js-comments" data-id="{{$cardId}}">3 commentaires</a>
      </div>
    </div>
    <div class="card__footer__share" rel="js-share">
      <div class="content flex justify-start align-items-center">
        <a href="" rel="js-share-width" data-share="facebook"><svg class="s-icon"><use xlink:href="#facebook"></use></svg></a>
        <a href="" rel="js-share-width" data-share="twitter"><svg class="s-icon"><use xlink:href="#twitter"></use></svg></a>
        <a href="" rel="js-share-width" data-share="gplus"><svg class="s-icon"><use xlink:href="#gplus"></use></svg></a>
        <a class="toggle" rel="js-toggle" href="#">
          <svg class="s-icon toggle__open"><use xlink:href="#gplus"></use></svg>
          <svg class="s-icon toggle__close"><use xlink:href="#facebook"></use></svg>
        </a>
      </div>
    </div>
  </footer>
</article>