{{$class := index . "class"}}
{{$card := index . "card"}}
{{$hideDescription := index . "hideDescription"}}

{{$description := $card.Description }}
{{$breadcrumb := index $card.Params "breadcrumb"}}
{{$categories := index $card.Params "categories"}}
{{$cardId := index $card.Params "cardId"}}

<article class="card{{ with $class }} {{ . }}{{ end }}" rel="js-card">
  {{ $description := $card.Summary }}
  {{with $card.Description }}
    {{ $description := $card.Description }}
  {{end}}
  {{ $description := $description | plainify | safeHTML }}

  <a class="card__thumbnail" href="{{$card.Permalink}}" rel="xhr">
    {{$thumbnail := index $card.Params "thumbnail"}}
    {{ partial "molecules/picture.html" (dict "src" $thumbnail "alt" $card.Title "pb" "59.9%") }}
  </a>
  <div class="card__content">
    {{ if $breadcrumb }}
    {{ range $breadcrumb }}
    <a class="card__tag" href="/tag/{{.}}">{{.}}</a>
    {{ end }}
    {{ else if $categories }}
    <a class="card__tag" href="/category/{{index $categories 0}}">{{index $categories 0}}</a>
    {{ end }}
    <h2 class="card__title"><a href="{{$card.Permalink}}">{{$card.Title}}</a></h2>
    {{if $hideDescription}}{{else}}<p>{{ $description }}</p>{{end}}
  </div>
  <footer class="card__footer">
    <div class="card__footer__comment">
      <div class="flex align-items-center justify-start">
        <svg class="s-icon"><use xlink:href="#icon-comments"></use></svg>
        <a href="{{$card.Permalink}}#comments"data-id="{{$cardId}}">3 commentaires</a>
      </div>
    </div>
  </footer>
</article>