{{$class := index . "class"}}
{{$card := index . "card"}}
{{$hideDescription := index . "hideDescription"}}

{{$description := or $card.Description ($card.Summary | truncate 200) }}
{{$categories := index $card.Params "categories"}}
{{$cardId := index $card.Params "cardId"}}

<article class="card{{ with $class }} {{ . }}{{ end }}" rel="js-card">
  <a class="card__thumbnail" href="{{$card.Permalink}}" rel="xhr">
    {{$thumbnail := index $card.Params "thumbnail"}}
    {{ partial "molecules/picture.html" (dict "src" $thumbnail "alt" $card.Title "pb" "59.9%") }}
  </a>
  <div class="card__content">
    {{ if $categories }}
    <span class="card__tag">{{index $categories 0}}</span>
    {{ end }}
    <h2 class="card__title"><a href="{{$card.Permalink}}" rel="xhr">{{$card.Title}}</a></h2>
    {{if $hideDescription}}{{else}}<p>{{ $description | markdownify | plainify | safeHTML }}</p>{{end}}
  </div>
  <footer class="card__footer">
    <div class="card__footer__comment">
      <div class="flex align-items-center justify-start">
        <svg class="s-icon"><use xlink:href="#icon-comments"></use></svg>
        <a href="{{$card.Permalink}}#comments">
          <span class="fb-comments-count" data-href="{{$card.Permalink}}"></span>
          &nbsp;commentaires</a>
      </div>
    </div>
  </footer>
</article>