{{$src := index . "src"}}
{{$caption := index . "caption"}}
<div class="figure">
  <a data-pin-do="buttonBookmark" data-pin-lang="fr" href="https://fr.pinterest.com/pin/create/button/"></a>
  <figure itemprop="associatedMedia"
          itemscope
          itemtype="http://schema.org/ImageObject">
    <a href="{{$src}}" itemprop="contentUrl" target="_blank" rel="noopener">
      <picture>
        {{ partial "atom/img" .}}
      </picture>
    </a>
    {{with $caption}}<figcaption itemprop="caption description">{{.}}</figcaption>{{end}}
  </figure>
</div>