{{$class := index . "class"}}
{{$src := index . "src"}}
{{$alt := index . "alt"}}
{{$caption := index . "caption"}}

<figure itemprop="associatedMedia"
        itemscope
        itemtype="http://schema.org/ImageObject">
  <a href="{{$src}}" itemprop="contentUrl" target="_blank" rel="noopener">
    <img class="lazyload"
         style='{background-image: url({{replace $src "/i/" "/svg/"}})}'
         data-src='{{$src}}'
         itemprop="thumbnail"
         alt='{{$alt}}'/>
  </a>
  {{with $caption}}<figcaption itemprop="caption description">{{.}}</figcaption>{{end}}
</figure>