.markdown {
  $goldenRatio: 1.333;
  * + * { margin: 1.3em auto; }
  h1, h2, h3, h4, h5, h6 {
    margin: #{$goldenRatio}em 0 0.5em;
  }
  h1 {
    margin-top: 0;
    text-align: center;
  }
  ul, ol {
    padding: 0; margin: 0 0 0 1.2em!important;
  }
  ul {
    list-style-type: square;
  }
  li ul, li ul { margin-left: 24px; }

  blockquote {
    border-left:.5em solid #eee;
    padding: 0 .7em;
    margin-left:0;
    max-width: 80%;
  }
  img {
    display: block;
    width: 100%;
  }
  a {
    &[href*=".jpg"],
    &[href*=".png"],
    &[href*=".gif"],
    &[href*=".bmp"] {
      display: block;
    }
  }
  iframe {
    max-width: 100%;
  }
}
