// Init
@import "variables";
@import "reset";
@import "grid";

* {
  margin: 0; padding: 0;
  border-radius: inherit;
  color: inherit;
  &:not(script) + *:not(body):not(.flex-*) { margin-top: $global-spacing; }
  &:not(.pswp):focus {
    outline: 1px dashed $brand-primary-darkest;
    background-color: lighten($brand-primary-darkest, 50%);
  }
  &, &:before, &:after { box-sizing: border-box; }
}
svg, svg * { box-sizing: content-box; }
img { max-width: 100%; }
body {
  background: $brand-primary-light;
}

.container { max-width: 1200px; margin: 0 auto; width: 100%; }
.page__container,
.footer,
.single { display: none; }

@import "atom/input";
@import "organism/header";
@import "molecule/icon";
@import "molecule/algolia";