@import "variables";
@import "reset";
@import "grid";
@import "molecule/picture";

.header, .footer, .pswp, .single aside, .single__content > *:not(.recette), .button, .picture {
  display: none;
}

.recette {
  * + * {
    margin: 0 auto!important;
  }
  h3 { margin: 0 auto .5em!important; }
  ul, li, li ul {
    margin: 0; padding: 0;
    list-style-type: none;
  }
  &__header {
    padding-bottom: $global-spacing;
    border-bottom: 1px solid $brand-primary-dark;
    h2 { margin: 0 auto 10px; }
    button { margin-top: $global-spacing!important; }
  }
  &__duration {
    padding: $global-spacing 0;
    border-bottom: 1px solid $brand-primary-dark;
  }
  &__ingredients, &__steps, &__header {
    li + li { margin-top: $global-spacing / 2!important; }
  }
  &__ingredients, &__steps {
    padding-top: $global-spacing;
  }
  &__ingredients {
    > ul {
      margin-bottom: $global-spacing;
      ul {
        margin-left: $global-spacing / 2;
        li {
          list-style-type: circle;
        }
      }
    }
  }
  &__steps {
    iframe { display: none; }
    ul { margin-left: 0!important; }
    li {
      center {
        display: block;
        font-size: 0;
        > * { font-size: 1rem; }
      }
      img {
        display: inline-block; vertical-align: middle;
        padding-top: $global-spacing / 4;
      }
    }
    li + li { margin-top: $global-spacing; }
    @include respond-to(medium) {
      ul { padding-left: 1.2em; }
      li img {
        @include respond-to(medium) {
          max-width: 50%; padding: $global-spacing / 4;
        }
      }
    }
  }
}