{{ partial "head.html" . }}
{{ partial "organism/header.html" . }}

<section class="single single--wide">
  <article class="single__content markdown">
    {{ partial "organism/share.html" . }}
    {{ partial "organism/single-header.html" . }}
    {{ partial "molecules/img.html" (dict "src" .Params.thumbnail "alt" .Title) }}
    {{ .Content }}
  </article>
  {{partial "organism/related.html" . }}
  {{partial "organism/comment.html" . }}
</section>

<script async defer src="https://assets.pinterest.com/js/pinit.js"
        data-pin-build="parsePinBtns"></script>
{{ partial "organism/footer.html" . }}
