<div class="figure">
  <a data-pin-do="buttonBookmark" data-pin-lang="fr" href="https://fr.pinterest.com/pin/create/button/"></a>
  <figure itemprop="associatedMedia"
          itemscope
          itemtype="http://schema.org/ImageObject">
    {{$src := .Get "src"}}
    {{$baseUrl := "https://images.crokmou.com/" }}
    {{$src := replaceRE "(https://images.crokmou.com/|https://cdn.rawgit.com/crokmou/images/.*/i/|/)(.*.(jpe?g|JPE?G|png|PNG|gif|GIF))" "$2" $src}}
    {{$min := replaceRE "([^/]+$)" "p14/$1" $src}}
    {{$min := replaceRE "(p[0-9]*/)(p14/)" "$2" $min}}
    <a href='{{print $baseUrl $src}}' itemprop="contentUrl" target="_blank" rel="noopener">
      <img class="lazyload loading"
           data-src='{{print $baseUrl $src}}'
           itemprop="thumbnail"
           src="{{print $baseUrl $min}}"
           alt='{{.Get "alt"}}'/>
      <noscript>
        <img src='{{ print $baseUrl $src}}' itemprop="thumbnail" alt='{{.Get "alt"}}'/>
      </noscript>
    </a>
    {{with .Get "caption"}}<figcaption itemprop="caption description">{{.}}</figcaption>{{end}}
  </figure>
</div>