<section class="recette flex flex-wrap"
         itemscope
         itemtype="http://schema.org/Recipe">
  <header class="recette__header flex-12">
    <div class="flex flex-wrap">
      <div class="flex-12 flex-sm-3">
        <picture class="picture">
          {{$src := .Page.Params.thumbnail}}
          {{$baseUrl := "https://images.crokmou.com/" }}
          {{$replace := replaceRE "(https://images.crokmou.com/|https://cdn.rawgit.com/crokmou/images/.*/i/|/)(.*.(jpe?g|JPE?G|png|PNG|gif|GIF))" "$2" $src}}
          {{$src := delimit (slice $baseUrl $replace) ""}}
        	<img class="picture__item" src="{{$src}}">
        </picture>
        <a class="button button--with-icon button--wide" href="javascript:window.print()">Imprimer</a>
      </div>
      <div class="flex-12 flex-sm-9">
        <h2 itemprop="name">{{.Page.Params.title}}</h2>
        <ul class="recette__header__details">
          {{range .Page.Params.recette_details}}
            {{range $label, $value := .}}
            <li>
              <strong>{{$label}}:</strong> {{delimit $value ", "}}
            </li>
            {{end}}
          {{end}}
        </ul>
      </div>
    </div>
  </header>
  <div class="recette__duration flex-12">
    <ul class="recette__duration__qty">
      {{ with.Page.Params.recette_qty }}
      <li>
        <strong>Portion&nbsp;:</strong>
        <span itemprop="recipeYield">{{.}}</span>
      </li>
      {{end}}
    </ul>
    <ul class="recette__duration__time flex flex-wrap">
      {{ range $value := .Page.Params.recette_temps }}
        <li class="flex-12 flex-sm-auto">
          <strong>{{$value.label}}&nbsp;:</strong>&nbsp;<meta itemprop="{{$value.schema_id}}" content="{{$value.schema_value}}">{{$value.duration}}
        </li>
      {{end}}
    </ul>
  </div>
  <div class="recette__ingredients flex-12 flex-med-4">
    <h3>Ingrédients</h3>
    {{ range $value := .Page.Params.recette_ingredients }}
    <article class="recette__ingredients__bloc">
      {{with $value.label}}<label class="label">{{ . | markdownify }}</label>{{end}}
      <ul>
        {{range $value := $value.value}}
          <li class="recette__ingredients__ingredient" itemprop="recipeIngredient">{{$value | markdownify}}</li>
        {{end}}
      </ul>
    </article>
    {{ end }}
  </div>
  <div class="recette__steps lex-12 flex-med-8">
    <h3>Recettes</h3>
    <ul class="recette__steps__list">
      {{range $index, $value:= .Page.Params.recette}}
        <li class="recette__steps__step" itemprop="recipeInstructions">
         {{add $index 1}}) {{$value | markdownify}}
        </li>
      {{end}}
    </ul>
  </div>

</section>