$padding: .8em;
.global-search {
  width: 100%;
  &__content {
    padding: $global-spacing;
    &__title {
      margin-bottom: $global-spacing / 2;
      font-size: 1em; color: $brand-secondary; text-transform: uppercase; font-family: $roboto; font-weight: 500;
    }
    &__desc {
      text-transform: uppercase; color: $gray-45; font-size: .9em;
      em {
        font-weight: 300!important;
      }
    }
    &:before {
      display: block;
      height: 1px; max-width: 70%; width: 100%; margin: -$global-spacing auto $global-spacing;
      background-color: $gray-85;
      content: "";
    }
    .aa-suggestion:first-child &:before {
      display: none;
    }
    em {
      text-decoration: underline;
    }
  }
}

.algolia-autocomplete {
  &, .aa-input, .aa-hint {
    width: 100%;
  }
  .aa-hint {
    color: #999;
  }
  .aa-dropdown-menu {
    width: 100%; margin-top: -4px; max-height: calc(100vh - 220px);
    background-color: #fff;
    border: 1px solid $black;
    overflow: auto;
    &:before {
      position: absolute; bottom: 100%; left: -1px; right: -1px;
      display: block;
      height: 4px;
      background-color: $white; border-left: 1px solid $black; border-right: 1px solid $black;
      content: "";
    }
    @include respond-to(medium) {
      max-height: calc(100vh - 80px);
    }
  }
  .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
  }
  .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #f8f8f8;
  }
  .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }
}