$padding: .8em;
.global-search {
  width: 100%;
  &__content {
    &__title {
      font-size: 1.2em;
    }
  }
}

.algolia-autocomplete {
  &, .aa-input, .aa-hint {
    width: 100%;
  }
  .aa-hint {
    color: #999;
  }
  .aa-dropdown-menu {
    width: 100%; margin-top: -4px;
    background-color: #fff;
    border: 1px solid $black;
    &:before {
      position: absolute; bottom: 100%; left: -1px; right: -1px;
      display: block;
      height: 4px;
      background-color: $white; border-left: 1px solid $black; border-right: 1px solid $black;
      content: "";
    }
  }
  .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }
  .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
  }
  .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }
}