{{ partial "head.html" . }}
{{ partial "organism/header.html" . }}

<section class="single flex flex-wrap align-items-start">
  <div class="flex-12 flex-med-9">
    <article class="single__content markdown">
      {{if .Params.thumbnail}}
      {{partial "molecules/img.html" (dict "src" .Params.Thumbnail "alt" .Title)}}
      {{end}}
      {{ .Content }}
    </article>
    {{partial "organism/comment.html" . }}
  </div>
  <aside class="flex-12 flex-med-3">
    {{ partial "organism/sidebar.html" . }}
  </aside>
</section>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js"></script>
<script async defer src="https://assets.pinterest.com/js/pinit.js"
        data-pin-build="parsePinBtns"></script>
<noscript class="deferred-styles">
  <link rel="stylesheet" type="text/css" href='{{ "/assets/print.css?v=1" | relURL }}' media="print"/>
  <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css' media="screen, projection"/>
  <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css' media="screen, projection"/>
</noscript>
{{ partial "organism/footer.html" . }}
