.gallery {
  > * {
    width: 100%; margin: 5px 0 0;
    * + * { margin: 0; }
  }
  @include respond-to(medium) {
    &:not(.gallery--no-grid) {
      column-count: 4;
      column-gap: 5px;
      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(calc(100px + 5vw + 5vh),1fr));
        grid-auto-flow: dense;
        grid-gap: 5px;
        a, img {
          display: block;
          width: 100%; height: 100%;
          object-fit: cover;
        }
        > * {
          &:first-child {
            grid-row-start: span 2;
            grid-column-start: span 2;
          }
          &:nth-child(4n+5) {
            grid-column-start: span 2;
            grid-row-start: span 2;
          }
          &:nth-child(8n+9) {
            grid-column-start: span 2;
            grid-row-start: 2;
          }
        }
      }
    }
  }
}
