.single {
  display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;
  max-width: $global-width; margin: $global-spacing / 2 auto 0; padding: $global-spacing / 2;
  &__content {
    @include tile-shadow();
    position: relative;
    margin: 0 auto; padding: $global-spacing / 2;
    background-color: #fff;
    &__footer {
      display: flex;
      margin: $global-spacing / 2 * 2 -#{$global-spacing / 2} 0; padding: $global-spacing / 2 $global-spacing / 2 0;
      border-top: 1px solid $gray-85;
      font-style: italic;
      strong { color: $gray-30; }
      ul {
        display: inline-block;
        margin-left: 0;
        font-size: 0;
        li {
          display: inline-block;
          margin: 0 $global-spacing / 4;
          font-size: 1rem;
          list-style-type: none;
        }
      }
    }
  }
  &--wide { margin-top: 0; }
  @include respond-to(medium) {
    flex-wrap: nowrap;
    &__content {
      padding: $global-spacing;
      &__footer {
        margin: $global-spacing * 2 -#{$global-spacing} 0; padding: $global-spacing $global-spacing 0;
      }
    }
    &--wide {
      flex-wrap: wrap;
      .single__content,
      .related, .comment  {
        width: $global-width - 300; max-width: 100%;
      }
    }
    .sidebar {
      @include tile-shadow();
      width: 300px;
      max-width: 100%;
    }
  }
}