.home {
  &__content {
    .card {
      margin-top: $global-spacing / 2;
      &:first-child { margin-top: 0; }
    }
  }
  &__newsletter {
    margin: $global-spacing auto;
  }
  @include respond-to(medium) {
    &__newsletter {
      margin: $global-spacing * 1.5 auto;
    }
    &__content .card {
      margin: 0;
      &:nth-child(n+3) {
        margin-top: $global-spacing;
      }
    }
  }
}