.page {
  min-height: 100%; padding: 0 $global-spacing / 2 $global-spacing / 2; margin-top: $global-spacing / 2;
  @include respond-to(medium) {
    padding: $global-spacing / 2 $global-spacing $global-spacing;
  }
}