.single {
  display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;
  max-width: $global-width; margin: 0 auto; padding: $global-spacing / 2;
  @include respond-to(medium) {
    flex-wrap: nowrap;
    padding: $global-spacing;
    &__content {
      @include tile-shadow();
      width: $global-width - 300; max-width: 100%; margin: 0 auto; padding: $global-spacing;
      background-color: #fff;
      &--wide { width: $global-width; }
    }
    .sidebar {
      @include tile-shadow();
      width: 300px;
      max-width: 100%;
    }
  }
}