.recette {
  margin: 20px auto;
  h3 { margin: 0 auto .5em; }
  ul {
    padding: 0;
    list-style-type: none;
  }
  &__header {
    h2 {
      margin: 20px auto 10px;
      @include respond-to(small) {
        margin-top: 0;
      }
    }
    .button {
      display: inline-block;
      margin-top: $global-spacing;
    }
    &__details {
      li { margin-top: 10px; }
    }
  }
  &__duration {
    padding: $global-spacing 0; margin: $global-spacing * 1.5 0;
    border-top: 1px solid $brand-primary-dark; border-bottom: 1px solid $brand-primary-dark;
    &__time {
      margin: 10px -10px 0;
      li { padding: 0 10px; }
    }
  }
  &__ingredients {
    &__bloc {
      margin: 0 0 $global-spacing; padding: 0;
      .label {
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
    &__ingredient {
      margin: 0 0 0 18px; padding: 0;
      list-style-type: circle;
    }
  }
  &__steps {
    &__list { margin: 0; }
    &__step {
      margin-top: $global-spacing;
      list-style-type: none;
      center {
        display: block;
        font-size: 0;
        > * { font-size: 1rem; }
      }
      img {
        display: inline-block; vertical-align: middle;
        padding-top: $global-spacing / 4;
      }
      &:first-child { margin-top: 0; }
    }
    iframe { margin-top: $global-spacing / 2; }
    @include respond-to(medium) {
      padding-left: 1.2em;
      &__step img {
        max-width: 50%; padding: $global-spacing / 4;
      }
    }
  }
}