.footer {
  position: relative;
  display: block;
  padding: $global-spacing; margin-top: $global-spacing / 2;
  border-top: 8px solid $brand-primary; background: #fff;
  font-family: $oswald; font-size: 1.2em;
  h1 {
    margin: 0 0 $global-spacing / 2 0;
    font-size: 1.2em; color: $gray-30;
  }
  a { font-weight: 400; }
  ul { padding: 0; }
  li { list-style-type: none; }
  article:last-child {
    margin-top: $global-spacing;
    @include respond-to(medium) { margin-top: 0; }
  }
  &__newsletter {
    font-size: .8em;
  }
  @include respond-to(medium) {
    margin-top: $global-spacing * 2;
  }
  &__loading-pswp {
    display: none;
    &--active {
      position: fixed; bottom: 0; left: 0;
      display: block;
      width: 100%;
      text-align: center;
      p {
        display: inline-block;
        padding: 5px 15px;
        border-radius: 5px 5px 0 0; background-color: $white; border: 1px solid $gray-30; border-bottom: 0;
        animation: .3s ease slideIn forwards;
      }
    }
  }
  &__return-top {
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    position: fixed; bottom: 30px; right: 30px;
    display: none;
    width: 50px; height: 50px;
    border-radius: 50%; background-color: $brand-primary-dark;
    line-height: 52px; text-align: center; color: $gray-30;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $brand-primary-darker;
      color: $white;
    }
  }
  @keyframes slideIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }

  }
}