.header {
  position: sticky; top: -210px; z-index: 1000;
  padding: $global-spacing $global-spacing 0;
  border-bottom: 8px solid $brand-primary; background: #fff;
  &__logo {
    display: block;
    margin: 0 auto; max-width: 200px; width: 100%;
    transform-origin: 0 50%;
  }
  &__ss {
    &__social {
      margin: 1em auto;
      a {
        display: block;
        margin: 0 5px;
        color: $brand-primary-darker; font-size: 3em; line-height: 0;
        &:hover { color: $brand-primary-darkest; }
        svg { height: .6em; }
        span {
          position: absolute; left: 0;
          width: 1px; height: 1px;
          clip: rect(1px, 1px, 1px, 1px);
        }
      }
    }
    &__search {
      display: block; order: 1;
      margin-right: $global-spacing; margin-bottom: 5px;
      .icon {
        display: block;
        border-radius: 0;
        font-size: 1.4em;
      }
      label { width: 100%; }
      @include respond-to(medium) {
        order: 0; margin-bottom: 0;
      }
    }
  }
  &__nav {
    margin-top: $global-spacing / 2; max-width: 100%; overflow: auto; padding-bottom: 15px; margin-bottom: -15px;
    text-transform: uppercase; color: $gray-15; font-family: $oswald; font-size: 1.2em; white-space: nowrap;
    a { color: inherit; text-decoration: none; }
    ul { list-style-type: none; }
    li {
      a {
        position: relative;
        display: inline-block;
        padding-bottom: 15px;
        &:hover, &:focus, &.active {
          &:after {
            position: absolute; top: 100%;
            display: block;
            width: 100%; height: 8px;
            background-color: darken($brand-primary-dark, 5%);
            content: "";
          }
          background-color: transparent;
          outline: none;
        }
      }
      &:not(:first-child):before {
        display: inline-block;
        width: 20px; margin-left: 2px;
        text-align: center;
        content: "•";
      }
    }
  }
  @include respond-to(medium) {
    top: -75px;
    &__logo {
      margin-left: 0;
    }
  }
}